body{
    font-family: sans-serif;
    background-color:beige;
}
#banner{
    width: 100%;
}
li{
    display: inline;
    padding: 0 20px;
    background-color: chocolate;
    border: 1px solid black;
    border-bottom: none;
}
.lst{
    display: list-item;
    background-color: burlywood;
    border: none;
}
h2{
    text-align: center;
}
ul a{
    color: black;
    text-decoration: none;
}
a:hover{
    color: blue;
    text-decoration: underline;
}
#Select{
    background-color: burlywood;
}
#main{
    overflow: hidden;
    background-color: burlywood;
}
.button{
    background-color: black;
    color: white;
    padding: 2px;
    text-decoration: none;
    float: right;
}
.cont{
    width: 45%;
    padding: 2.5%;
    float: left;
    padding-top: 0;
}
#bcont{
    padding: 2.5%;
}
iframe{
	width: 100%;
}
footer{
    background-color: red;
    color: azure;
    text-align: center;
    font-size: 1em;
}
@media screen and (max-width: 520px){
	.cont{
		width: 90%;
		margin: 5%;
	}
	li{
		display: block;
		text-align: center;
		padding: 5px;
		border: none;
	}
	ul{
		background: chocolate;
		border: 1px solid black;
		margin: 0px;
	}
	#Select{
		background: chocolate;
	}
	#Select a{
		color: #ebac99;
	}
}
@media screen and (max-width: 720px){
	li{
		display: block;
		padding: 5px;
		text-align: center;
		border: none;
	}
	ul{
		background: chocolate;
		border: 1px solid black;
		margin: 0px;
	}
	#Select{
		background: chocolate;
	}
	#Select a{
		color: #ebac99;
	}
}